@using UpBeat.Web.Areas.Administration.Models;

<div class="container">
    @(Html.Kendo()
        .Grid<AlbumGridViewModel>()
        .Name("AlbumGrid")
        .Columns((columns) =>
        {
            columns.Bound(c => c.Id).Width(50);
            columns.Bound(c => c.Name).Width(150);
            columns.Bound(c => c.ReleaseDate).Width(100);
            columns.Command(c => { c.Edit(); c.Destroy(); }).Width(200);
        })
        .Editable(e => e.Mode(GridEditMode.InLine))
        .Pageable(c =>
        {
            c.Refresh(true)
            .PageSizes(true);
        })
        .Sortable()
        .DataSource(source =>
        {
            source.Ajax()
            .Model(m =>
            {
                m.Id(c => c.Id);
            })
            .Read(c => c.Action("ListAlbums", "AlbumGrid")).PageSize(DataConstants.DefaultGridPageLength)
            .Update(c => c.Action("EditAlbum", "AlbumGrid"))
            .Destroy(c => c.Action("RemoveAlbum", "AlbumGrid"));
        })
        .Filterable(f => f.Mode(GridFilterMode.Menu))
        .Deferred()
    )

</div>