nav {
    margin-bottom: 20px;
    background: rgb(38,37,38); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(38,37,38,1) 1%, rgba(3,3,3,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(38,37,38,1) 1%,rgba(3,3,3,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(38,37,38,1) 1%,rgba(3,3,3,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262526', endColorstr='#030303',GradientType=0 ); /* IE6-9 */
}

.hidden {
    display: none;
}

.btn {
    color: black;
    background-color: #c0ca33;
    margin: 5px 0;
}

.btn-large {
    margin: 5px 0;
    color: black;
    background-color: #c0ca33;
}

.btn:hover, .btn-large:hover {
    background-color: #dce775;
}

hr {
    background-color: #eaeaea;
    opacity: 0.5;
    margin-top: 10px;
    margin-right: 10px;
}

.page-footer {
    padding-top: 0;
    background-color: #003028;
}

.inline-block {
    display: inline-block !important;
}

.primary-text {
    font-size: 3rem;
    font-weight: 400;
}

.secondary-text {
    color: #c4c4c4;
}

.collection-item:hover {
    background-color: #f7f7f7;
}

#waiting-loader{
    position:fixed;
    top: 20%;
    left: 45%;
    z-index:1004;
}
