<div class="parallax-container">
    <div class="parallax"><img src="~/Content/Images/home-header.jpg"></div>
</div>
<div class="row title-container">
    <div class="col s12 m8 offset-m3">
        <h2>Welcome To UpBeat</h2>
        <p>A platform with the music hits. Explore, listen enjoy!</p>
        <p><a class="waves-effect waves-light btn" href="@(Url.Action<AccountController>(c => c.Register()))">Sign up now! &raquo;</a></p>
    </div>
</div>
