body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: rgb(61,92,90); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(61,92,90,1) 1%, rgba(6,9,9,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(61,92,90,1) 1%,rgba(6,9,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(61,92,90,1) 1%,rgba(6,9,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d5c5a', endColorstr='#060909',GradientType=0 ); /* IE6-9 */
}


/* Set padding to keep content from hitting the edges */
.body-content {
    overflow: hidden;
    flex: 1 0 auto;
    margin-top: 0;
    width: 100%;
    padding-right: 15px;
    color:white;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

select{
    width: 80%;
}

/* Set width on the form input elements since they're 100% wide by default */

